<div class="ui-g">
        <div class="page-wrap">
            <div class="ui-g"> 
                <div class="ui-g-12 ui-md-8 ui-lg-12 ui-fluid">
                    <!-- Microformats! -->
                
                    <h1 class="fn">Wladimir Alves Bandeira</h1>
                </div>
               
            </div>
            <div class="ui-g">
                    <div class="ui-g-12 ui-md-8 ui-lg-6 ui-fluid">
                            <p class="contato">
                                Celular: <span class="tel">+55 (81) 98201-9446</span><br />
                                E-mail: <a class="email" >tecnico100@gmail.com</a>
                            </p>
                    </div>
            </div>
          
            <div class="ui-g">
                <div class="objective ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
                 
                    <p>
                        Tenho sólido conhecimento em infraestrutura com foco em desenvolvimento e análise de sistemas. 
                        Possuo experiência de trabalho como desenvolvedor Java. 
                        Atualmente estou ampliando meus conhecimentos desenvolvendo projetos utilizando a tecnologia Node Express. 
                        Na construção da interface dos meus projetos procuro utilizar uma lógica dinamizada que integre Angular 2+, 
                        uma das tecnologias mais recentes do mercado, com Boostrap e JavaScript. 
                        Meu primeiro projeto utilizando essas tecnologias foi na construção de um site e-commerce com cadastro de 
                        restaurantes e compra de refeições online. 
                        Para mais informações sobre o projeto, acesse meu canal [link para o vídeo].
                    </p>
                    
                </div>
            </div>
            <dl>
                    <dd class="clear"></dd>
                    
                    <dt>Formação Acadêmica</dt>
                    <dd>
                        <h2>Curso Superior em Análise e Desenvolvimento de Sistemas, UNASP - São Paulo, SP </h2>
                        <p><strong>Inicio:</strong> 2009 <br/>
                           <strong>Término:</strong>  2012</p>
                    </dd>
                    
                    <dd class="clear"></dd>
                    
                    <dt>Habilidades Técnicas</dt>
                    <dd>
                            <h2><b>Node Express​:</b></h2>
                            <p>Criação de módulos e rotas,Implementandocontrollers, implementaçãomodels, Express Validator, implementação de conexões via websocket, Express-Session, criptografia de dados,          trabalhando com recursos do Restify. 
                                </p>
                       
                            <h2><b>Front-End​:</b></h2>
                            <p>Bootstrap, JavaScript, Jquery, CSS, Angular 2+. </p>
                          
                            <h2><b> Banco de Dados​:</b></h2>
                            <p>Mysql, Postgresql e MongoDB.</p>

                            <h2><b>Sistema Operacional​:</b></h2>
                            <p>  Windows 10, 7, 8 e Linux</p>

                        <h2><b>Java Web Frameworks​:</b> </h2>
                        <p> Spring MVC, EJB, CDI, Dependency injection with Spring,Hibernate,Spring   
                                AOP transaction, Commons Validator, Java Bean Validator, Eclipse, Spring Security, Tomcat, iReport, 
                                JavaMail, Junit, Log4J, JSON, Bopepo, Maven, Thymeleaf, Flyway.</p>
                        
                       
                    </dd>
                    
                    <dd class="clear"></dd>
                    
                    <dt>Experiência Profissional</dt>
                    <dd>
                        <h2>Analista Técnico Júnior <br> <span>Getronics Latan,  ​Vitória de Santo Antão - PE,   Julho 2016 – Agosto 2017 </span></h2>
                        <ul>
                            <p >
                                Fornecendo o suporte de segundo nível através da gestão de incidentes e gerenciamento de requisição.  
                                Seguindo todos os procedimentos técnicos e operacionais na minha função, para resolução dos eventos.  
                                Classificar adequadamente TODOS os atendimentos e ações executadas, imediatamenteapósrecepçãoda  solicitação.
                                </p>
                            <p > 
                                Compreender e dar encaminhamento às solicitações de clientes. Executa testes visando  resolver o incidente e/ou requerimento solicitado pelo usuário. 
                                Diagnosticar problemas durante as  atividades/atendimento e realizar o devido encaminhamento, quando não estiver sob sua responsabilidade.  
                                Designar e utilizar adequadamente a severidade dos chamados. Informar à supervisão qualquer   insatisfação ou situação que possa gerar escalação. 
                                Controlar os tempos de atendimento para atender os  níveis de serviço contratados pelo cliente. 
                                Acompanhar o SLA das solicitações para cumprimento no  prazo. Cumprir os horários acordados com a supervisão e previstos na escala de trabalho. </p>
                        </ul>
                        
                        <h2>Software Development Java <br> <span>Magna Sistemas , São Paulo - SP ,  Janeiro 2016 - Maio 2016 </span></h2>
                        <ul>
                            <p >
                                Manutenção corretiva e preventiva de projetos em Java com FrameWorks JSF, e o cliente era a Prodesp. 
                            </p>
                        </ul>
                        
                        <h2>Analista Técnico Júnior<br> <span> Queiroz Galvão Desenvolvimento Imobiliário , Recife - PE ,  Agosto 2007 – Julho 2009 </span></h2>
                        <ul>
                            <p >
                                Preservação e controle de patrimônios e ativos de informática na empresa;Conserto de Computadores   Manutenção corretiva e preventiva. 
                                Atendimento ao usuário, padronização dos desktops de acordo coma política da empresa, ou seja, 
                                alterações (tunning) no sistema operacional para melhorar o desempenhodo   Windows, 
                                configuração para a central de energia, alteração na área de trabalho; Instalação de programas  diversos. 
                                </p>
                            </ul>
                    </dd>
                    
                    <dd class="clear"></dd>
                    
                    <dt>Hobbies</dt>
                    <dd>Jogo vídeo game nas horas vagas</dd>
                    
                    <dd class="clear"></dd>
                    
                    <dt>Referência Profissional </dt>
                    <dd>  Jorge Silva – Queiroz Galvão Desenvolvimento Imobiliário – Recife, 55 (81) 99146-9118 </dd>
                    <dd>  Cristiana Harumi Yamamoto – Hagui,  Prodesp - 55 (11) 3247-1074 - ​chagui@sp.gov.br </dd>
                    
                    <dd class="clear"></dd>
                </dl>
                
                <div class="clear"></div>
            
            </div>
</div>

<app-footer></app-footer>