<div class="titulo_autor">
    Wladimir Bandeira -
        Analista de Sistemas
</div>
<div class="imagem_autor">
  <a [routerLink]="['/curriculo']"> <img src="../assets/img/wladimir.png" ></a> 
</div>
<div id="curriculo">
   <a [routerLink]="['/curriculo']">Curriculo Clique aqui</a> 
</div>

  <div class="redes">
      <div class="icons">
        <ul>
          <li class="facebook"><a href="https://www.facebook.com/wladimir.bandeira"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/wladimir-bandeira-409a4429/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/wladyband/sistema_vendas_online_restaurante"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div>
  </div> 


