<div class="corpo">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-8 ui-fluid conteudo">
         <a [routerLink]="['/angular_node']"><img src="../assets/img/node.jpeg"></a> 

          <div class="_post">
            <div class="titulo_post">
              <a [routerLink]="['/angular_node']">Dicas de Angular para diversas implementações</a>  
            </div>
            <div class="titulo_coment">
             Ao realizar meu primeiro projeto <a href=" http://blog.caelum.com.br/conhecendo-a-stack-mean-mongodb-express-angular-e-node/">MEAN</a> ,

                  tive muitas dificuldade para realizar implementações que não eram ensinados nos cursos online, 
                  e através de fóruns de ajuda como <a href="https://pt.stackoverflow.com/">StackOverFlow</a>  e <a href="http://www.guj.com.br/">GUJ</a>  conseguir colocar em prática no meu projeto, e essas implementação que aprendi a fazer estarei compartilhando através do meu blog, então espero que gostei, e estou aberto a críticas e elógios.

            </div>

          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-4 lateral">
            <app-lateral-curriculo></app-lateral-curriculo>
          
        
         
        </div>

      
        <div class="ui-g-12 ui-md-6 ui-lg-8 ui-fluid videoK ">
          <div class="video">
            <iframe width="700" height="480" src="https://www.youtube.com/embed/K7iSjjL1wJg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>  
             <div class="_post">
               <div class="titulo_post">
                 <a href="https://github.com/wladyband/sistema_vendas_online_restaurante">Vídeo demonstrativo da loja virtual</a>  
               </div>
   
             </div>
           </div>
           
    </div>


 
</div>

<app-footer></app-footer>