
.clear { clear: both; }
.page-wrap { 
    position: relative;
    top: 52px;
    width: 800px; 
    margin: 40px auto 60px; 
}
.page-wrap img{
    position: relative;
    left: 300px; 
    width: 250px; 
    margin: 0px auto;
     
}
h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
h2 span { position: relative; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
p { margin: 0 0 16px 0; }
a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
a:hover { border-bottom-style: solid; color: black; }
ul { margin: 0 0 32px -32px; }
.objective { width: 100%; float: left; }
.objective p { font-family: Georgia, Serif;  color: #666; }
dt { 
    font-style: italic; 
    font-weight: bold; 
    font-size: 120%; 
    text-align: right; 
    padding: 0 5% 0 0; 
    width: 15%; 
    float: left; 
    height: 10%; 
    }
dd { width: 80%; float: right; }
dd.clear { float: none; margin: 0; height: 15px; }  



@media (max-width: 960px) {
    .page-wrap img{
        position: relative;
        left: 300px; 
        width: 150px; 
        float: left;
        left: 20%; 
    }
    .page-wrap { 
        width: 800px; 
        margin: 40px auto 60px;
        font-size: 10px; 
    }
    .fn{
        margin: 0px 0px 0px 25px;
        font-size: 26px;
    }
    .contato{
        margin: 0px 0px 0px 25px;
    }
    .objective{
        margin: 0px 0px 0px 25px;
    }

    dt { 
        font-style: italic; 
        font-weight: bold; 
        font-size: 120%; 
        text-align: right; 
        padding: 0 5% 0 0; 
        width: 15%; 
        float: left; 
        height: 10%; 
        }



  }